/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
/* .light-background {
  --background-color: #f4f8fb;
  --surface-color: #ffffff;
} */

.dark-background {
  --background-color: #840a0a;
  --default-color: #4f0101;
  --peter-color: #0db7d5;
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.hero::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 95%;
  background: linear-gradient(
      to right,
      color-mix(in srgb, var(--background-color), transparent 50%),
      var(--default-color)
    ),
    url("./imgs/building.jpg") center top no-repeat;
  background-size: cover;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) rotate(0deg);
}

.hero::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 96%;
  background: var(--background-color);
  opacity: 0.3;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) translateY(18px) rotate(2deg);
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}

.hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h2 {
  color: aliceblue;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  animation: fadeInDown 1s both;
  display: block;
}

.hero p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: color-mix(in srgb, white, transparent 20%);
  animation: fadeInDown 1s both 0.2s;
}

.hero .btn-get-started {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 210px;
  color: white;
  animation: fadeInUp 1s both 0.4s;
  border: 2px solid white;
}

.hero .btn-get-started:hover {
  border: #4f0101;
  background-color: red;
  color: white;
  animation: fadeInUp 1s both 0.4s;
  text-decoration: none;
}

/* .hero .carousel-indicators {
    margin-top: auto;
} */

.hero .carousel-indicators li.active {
  opacity: 1;
  background: var(--accent-color);
}

@media (min-width: 1024px) {
  .hero p {
    width: 60%;
  }

  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px), (max-height: 700px) {
  .hero h2 {
    font-size: 28px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.flix-container {
  position: relative;
  height: 270px;
  width: 100%;
  top: 100px;
  background-color: white;
  overflow: hidden;
  padding: 0 10px; /* Padding for gaps */
  margin: -15px -15px 200px -15px;
}

.flix-items {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px; /* Space between items */
}

.flix-items li {
  flex: 1 0 calc(33.333% - 20px); /* Adjusted width to fit 3 items with gaps */
  height: 0;
  padding-bottom: calc(33.333% - 20px); /* Maintain square ratio */
  background-color: black;
  transition: transform 0.5s, padding-bottom 0.5s; /* Add transition for padding-bottom */
  overflow: hidden;
  cursor: pointer;
  list-style: none;
  position: relative;
}

.flix-items li:hover {
  transform: scale(1.1); /* Zoom in effect */
  padding-bottom: calc(
    66.666% - 20px
  ); /* Increase height proportionally on hover */
  z-index: 1;
}

.flix-items li .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

.flix-items li:hover ~ li,
.flix-items li:hover ~ li ~ li {
  flex: 1 0 calc(33.333% - 20px); /* Maintain width consistency for non-hovered items */
}

.flix-items li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.flix-items li a .content {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  transition: transform 1s, opacity 1s;
  opacity: 0;
  padding: 40px 10px 10px 10px;
}

.flix-items li:hover a .content {
  transform: translateY(0) translateX(-50%);
  opacity: 1;
}

.flix-items li a .content h2 {
  font-weight: 300;
  color: white;
  font-size: 30px;
}
